:root {
  --white: #fff;
  --blue: #b3d2d5;
}

.wp-block-custom-blocks-leaderboard {
  position: relative;

  ol {
    margin: 0;
    counter-reset: section;
    list-style: none;
    padding: 3rem 2rem;
    border-radius: 1rem;
    background-color: var(--white);

    @media screen and (min-width: 768px) {
      padding: 4rem;
    }
  }

  li {
    display: grid;
    height: 4rem;
    grid-template-columns: 3rem 1fr;
    grid-gap: 2rem;
    align-items: center;
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media screen and (min-width: 768px) {
      height: 7rem;
    }

    + li {
      margin-top: 1rem;
    }

    &::before {
      counter-increment: section;
      content: counters(section, ".");
      display: grid;
      align-items: center;
      justify-content: center;
    }

    span {
      border-radius: 5rem 1rem 1rem 5rem;
      background-color: var(--blue);
      box-shadow: 3px 3px 10px 0px rgb(190 190 190 / 75%);
      display: grid;
      height: 100%;
      width: 100%;
      align-items: center;
      padding-left: 4rem;
    }
  }

  .show-more {
    width: 100%;
    padding: 7.5rem 0 10px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0),
      var(--white) 70%
    );
    z-index: 1;

    @media screen and (min-width: 768px) {
      padding-top: 15rem;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    background-color: #3b3b3b;
    color: var(--white);
    display: block;
    text-align: center;
    width: 16rem;
    margin-left: -8rem;
    position: absolute;
    left: 50%;
    bottom: 3rem;
    z-index: 100;
    box-shadow: 3px 3px 10px 0px rgb(59 59 59 / 75%);

    @media screen and (min-width: 768px) {
      font-size: 1.8rem;
      padding: 1rem 2rem;
      width: 20rem;
      bottom: 4rem;
      margin-left: -10rem;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      background-color: var(--blue);
      color: #000;
    }
  }
}
